.dropdown {
     position: relative;
     display: inline-block;
   }
   .dropdown-content {
     display: none;
     position: absolute;
     background-color: #f9f9f9;
     min-width: 160px;
     box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
     padding: 12px 16px;
   }
   .dropdown:hover .dropdown-content {
       display: block;
   }
   .com-sel
   {
       line-height: 5rem;
       cursor: pointer;        /*鼠标上移变成小手*/
   }
   .com-sel select
   {
       padding-right: 1.8rem;
       color: #afbac0;
       font-size: 1.6rem;
       border: none;
       outline: none;
       /*去掉默认的下拉三角*/
       appearance:none;
       -moz-appearance:none;
       -webkit-appearance:none;
   }
   .vertilist {
       padding-left:15px;
       padding-bottom:50px;
   }
   .selectwrap {
       display: flex;
   }
   .selectwrap  .tit {
       min-width: 80px;
       height: 30px;
       line-height:  30px;
       font-size: 16px;
       font-weight: normal;
       color:#666;
   }
   .selectwrap .selectval {
       flex: 1;
       position: relative;
   }
   .selectwrap .selectval:after {
       content:'';
       position: relative;
       top:12px; right:0;
       border-left: 5px solid transparent;
       border-right: 5px solid transparent;
       border-top: 5px solid #ddd;
   }

   .selectwrap .selectval select {
       position: absolute;
       top: 10px;
       width: 100%;
       border: 0;
       outline: none;
       -webkit-appearance:none;/* 去除系统默认appearance的样式,常用于IOS下移除原生样式 */
       opacity: 1;
       font-size: 16px;
       color: #666;
   }
   /* 左侧导航 */
   #myMenu {
     list-style-type: none;
     padding: 0;
     margin: 0;
   }

   /*左侧导航标签*/
   #myMenu li a {
     background-color: #BBBBBB;
     padding: 12px;
     text-decoration: none;
     font-size: 18px;
     color: black;
     display: block
   }
    
   /*左侧导航标签效果*/
   #myMenu li a:hover {
     background-color: #eee;
   }
